---
import "augmented-ui/augmented-ui.min.css"
import "css-media-vars/css-media-vars.css"
import Layout from "../layouts/Layout.astro"
import Experiments from "../components/Experiments.astro"
import Footer from "../components/HelpMe.astro"
---

<Layout content={{ title: "Experiments, Research, & Stress Tests by PropJockey.io - the value of properties, orchestrated" }}>
  <main class="astrolayout">
    <Experiments />
  </main>
  <footer class="astrolayout">
    <Footer />
  </footer>
</Layout>
