---
const { enabledSpaceToggle, unitSize } = Astro.props
---

<style>
  ul > :global(li:nth-child(1))  { --nth-li: 1;  } ul > :global(li:nth-last-child(1))  { --nth-li-total: (var(--nth-li) - 1 + 1);  }
  ul > :global(li:nth-child(2))  { --nth-li: 2;  } ul > :global(li:nth-last-child(2))  { --nth-li-total: (var(--nth-li) - 1 + 2);  }
  ul > :global(li:nth-child(3))  { --nth-li: 3;  } ul > :global(li:nth-last-child(3))  { --nth-li-total: (var(--nth-li) - 1 + 3);  }
  ul > :global(li:nth-child(4))  { --nth-li: 4;  } ul > :global(li:nth-last-child(4))  { --nth-li-total: (var(--nth-li) - 1 + 4);  }
  ul > :global(li:nth-child(5))  { --nth-li: 5;  } ul > :global(li:nth-last-child(5))  { --nth-li-total: (var(--nth-li) - 1 + 5);  }
  ul > :global(li:nth-child(6))  { --nth-li: 6;  } ul > :global(li:nth-last-child(6))  { --nth-li-total: (var(--nth-li) - 1 + 6);  }
  ul > :global(li:nth-child(7))  { --nth-li: 7;  } ul > :global(li:nth-last-child(7))  { --nth-li-total: (var(--nth-li) - 1 + 7);  }
  ul > :global(li:nth-child(8))  { --nth-li: 8;  } ul > :global(li:nth-last-child(8))  { --nth-li-total: (var(--nth-li) - 1 + 8);  }
  ul > :global(li:nth-child(9))  { --nth-li: 9;  } ul > :global(li:nth-last-child(9))  { --nth-li-total: (var(--nth-li) - 1 + 9);  }
  ul > :global(li:nth-child(10)) { --nth-li: 10; } ul > :global(li:nth-last-child(10)) { --nth-li-total: (var(--nth-li) - 1 + 10); }
  ul > :global(li:nth-child(11)) { --nth-li: 11; } ul > :global(li:nth-last-child(11)) { --nth-li-total: (var(--nth-li) - 1 + 11); }
  ul > :global(li:nth-child(12)) { --nth-li: 12; } ul > :global(li:nth-last-child(12)) { --nth-li-total: (var(--nth-li) - 1 + 12); }
  ul > :global(li:nth-child(13)) { --nth-li: 13; } ul > :global(li:nth-last-child(13)) { --nth-li-total: (var(--nth-li) - 1 + 13); }
  ul > :global(li:nth-child(14)) { --nth-li: 14; } ul > :global(li:nth-last-child(14)) { --nth-li-total: (var(--nth-li) - 1 + 14); }
  ul > :global(li:nth-child(15)) { --nth-li: 15; } ul > :global(li:nth-last-child(15)) { --nth-li-total: (var(--nth-li) - 1 + 15); }
  ul > :global(li:nth-child(16)) { --nth-li: 16; } ul > :global(li:nth-last-child(16)) { --nth-li-total: (var(--nth-li) - 1 + 16); }
  ul > :global(li:nth-child(17)) { --nth-li: 17; } ul > :global(li:nth-last-child(17)) { --nth-li-total: (var(--nth-li) - 1 + 17); }
  ul > :global(li:nth-child(18)) { --nth-li: 18; } ul > :global(li:nth-last-child(18)) { --nth-li-total: (var(--nth-li) - 1 + 18); }
  ul > :global(li:nth-child(19)) { --nth-li: 19; } ul > :global(li:nth-last-child(19)) { --nth-li-total: (var(--nth-li) - 1 + 19); }
  ul > :global(li:nth-child(20)) { --nth-li: 20; } ul > :global(li:nth-last-child(20)) { --nth-li-total: (var(--nth-li) - 1 + 20); }
  ul > :global(li:nth-child(21)) { --nth-li: 21; } ul > :global(li:nth-last-child(21)) { --nth-li-total: (var(--nth-li) - 1 + 21); }
  ul > :global(li:nth-child(22)) { --nth-li: 22; } ul > :global(li:nth-last-child(22)) { --nth-li-total: (var(--nth-li) - 1 + 22); }
  ul > :global(li:nth-child(23)) { --nth-li: 23; } ul > :global(li:nth-last-child(23)) { --nth-li-total: (var(--nth-li) - 1 + 23); }
  ul > :global(li:nth-child(24)) { --nth-li: 24; } ul > :global(li:nth-last-child(24)) { --nth-li-total: (var(--nth-li) - 1 + 24); }
  ul > :global(li:nth-child(25)) { --nth-li: 25; } ul > :global(li:nth-last-child(25)) { --nth-li-total: (var(--nth-li) - 1 + 25); }
  ul > :global(li:nth-child(26)) { --nth-li: 26; } ul > :global(li:nth-last-child(26)) { --nth-li-total: (var(--nth-li) - 1 + 26); }
  ul > :global(li:nth-child(27)) { --nth-li: 27; } ul > :global(li:nth-last-child(27)) { --nth-li-total: (var(--nth-li) - 1 + 27); }
  ul > :global(li:nth-child(28)) { --nth-li: 28; } ul > :global(li:nth-last-child(28)) { --nth-li-total: (var(--nth-li) - 1 + 28); }
  ul > :global(li:nth-child(29)) { --nth-li: 29; } ul > :global(li:nth-last-child(29)) { --nth-li-total: (var(--nth-li) - 1 + 29); }
  ul > :global(li:nth-child(30)) { --nth-li: 30; } ul > :global(li:nth-last-child(30)) { --nth-li-total: (var(--nth-li) - 1 + 30); }
  ul > :global(li:nth-child(31)) { --nth-li: 31; } ul > :global(li:nth-last-child(31)) { --nth-li-total: (var(--nth-li) - 1 + 31); }
  ul > :global(li:nth-child(32)) { --nth-li: 32; } ul > :global(li:nth-last-child(32)) { --nth-li-total: (var(--nth-li) - 1 + 32); }
  ul {
    list-style: none;
    --fib-__display: var(--fib-enabled) grid;
    display: var(--fib-__display, block);
    grid-template-columns: 21fr 3fr 1fr 1fr 8fr;
    grid-template-rows: 13fr 2fr 1fr 5fr;
    margin: 1rem auto;
    --fib-unitsize: 2rem;
    --fib-offset: 0;
    height: var(--fib-enabled) calc(21 * (var(--fib-unitsize)));
    width: var(--fib-enabled) calc(34 * (var(--fib-unitsize)));
    position: relative;
  }
  ul > :global(li) {
    overflow: hidden;

    --fib-maxoffset: var(--nth-li-total) - 9;
    --fib-spot: (var(--nth-li) - min(var(--fib-offset), var(--fib-maxoffset)));
    --fib-size: (-1 * max(-1, min(0,  100000 * (var(--fib-spot) - 1)))) * (34) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 1, 1 - var(--fib-spot)))) * (21) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 2, 2 - var(--fib-spot)))) * (13) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 3, 3 - var(--fib-spot)))) * (8) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 4, 4 - var(--fib-spot)))) * (5) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 5, 5 - var(--fib-spot)))) * (3) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 6, 6 - var(--fib-spot)))) * (2) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 7, 7 - var(--fib-spot)))) * (1) +
             (1 + max(-1, min(0,  100000 * (var(--fib-spot) - 8)))) * (1);
    height: var(--fib-enabled) calc(var(--fib-unitsize) * (var(--fib-size)));
    width: var(--fib-enabled) calc(var(--fib-unitsize) * (var(--fib-size)));

    --fib-opacity: (1 + max(-1, min(0,  100000 * (var(--fib-spot) - 1)))) * (1 + max(-1, min(0, -100000 * (var(--fib-spot) - 8))));
    opacity: var(--fib-enabled) calc(var(--fib-opacity));

    --fib-col-start: (-1 * max(-1, min(0,  100000 * (var(--fib-spot) - 1)))) * (1) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 1, 1 - var(--fib-spot)))) * (1) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 2, 2 - var(--fib-spot)))) * (2) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 3, 3 - var(--fib-spot)))) * (5) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 4, 4 - var(--fib-spot)))) * (2) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 5, 5 - var(--fib-spot)))) * (2) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 6, 6 - var(--fib-spot)))) * (3) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 7, 7 - var(--fib-spot)))) * (4) +
             (1 + max(-1, min(0,  100000 * (var(--fib-spot) - 8)))) * (3);
    --fib-col-span: (-1 * max(-1, min(0,  100000 * (var(--fib-spot) - 1)))) * (5) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 1, 1 - var(--fib-spot)))) * (1) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 2, 2 - var(--fib-spot)))) * (4) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 3, 3 - var(--fib-spot)))) * (1) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 4, 4 - var(--fib-spot)))) * (3) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 5, 5 - var(--fib-spot)))) * (1) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 6, 6 - var(--fib-spot)))) * (2) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 7, 7 - var(--fib-spot)))) * (1) +
             (1 + max(-1, min(0,  100000 * (var(--fib-spot) - 8)))) * (1);
    --fib-row-start: (-1 * max(-1, min(0,  100000 * (var(--fib-spot) - 1)))) * (4) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 1, 1 - var(--fib-spot)))) * (1) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 2, 2 - var(--fib-spot)))) * (1) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 3, 3 - var(--fib-spot)))) * (2) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 4, 4 - var(--fib-spot)))) * (4) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 5, 5 - var(--fib-spot)))) * (2) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 6, 6 - var(--fib-spot)))) * (2) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 7, 7 - var(--fib-spot)))) * (3) +
             (1 + max(-1, min(0,  100000 * (var(--fib-spot) - 8)))) * (3);
    --fib-row-span: (-1 * max(-1, min(0,  100000 * (var(--fib-spot) - 1)))) * (1) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 1, 1 - var(--fib-spot)))) * (4) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 2, 2 - var(--fib-spot)))) * (1) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 3, 3 - var(--fib-spot)))) * (3) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 4, 4 - var(--fib-spot)))) * (1) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 5, 5 - var(--fib-spot)))) * (2) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 6, 6 - var(--fib-spot)))) * (1) +
             (1 + max(-1, 10000 * min(var(--fib-spot) - 7, 7 - var(--fib-spot)))) * (1) +
             (1 + max(-1, min(0,  100000 * (var(--fib-spot) - 8)))) * (1);
    grid-column: calc(var(--fib-col-start)) / span calc(var(--fib-col-span));
    grid-row: calc(var(--fib-row-start)) / span calc(var(--fib-row-span));
  }
  li.fib-empty {
    --fib-__display: var(--fib-enabled) block;
    display: var(--fib-__display, none);
    visibility: hidden;
  }
</style>

<ul style={`--fib-enabled: ${enabledSpaceToggle}; --fib-unitsize: ${unitSize || "2rem"};`}>
  <slot />
  <li aria-hidden="true" class="fib-empty"></li>
  <li aria-hidden="true" class="fib-empty"></li>
  <li aria-hidden="true" class="fib-empty"></li>
  <li aria-hidden="true" class="fib-empty"></li>
  <li aria-hidden="true" class="fib-empty"></li>
  <li aria-hidden="true" class="fib-empty"></li>
  <li aria-hidden="true" class="fib-empty"></li>
  <li aria-hidden="true" class="fib-empty"></li>
</ul>
