---
import "augmented-ui/augmented-ui.min.css"
import "css-media-vars/css-media-vars.css"
---

<style>
  :global(footer.astrolayout)  {
    display: grid;
    justify-items: center;
    padding-inline: calc(
      var(--qlt-sm) * var(--bpu-6px) +
      var(--qgte-sm) * var(--bpu-16px)
    );
    background: #1b1124;
    background: linear-gradient(
      to bottom,
      hsl(var(--theme_1) / 0.25),
      hsl(var(--theme_2) / 0.5) 250%
    ) center center / 100% 100% no-repeat;
    color: #ffffff;
    border-top: var(--bpu-8px) solid #8100F0;
    border-bottom: var(--bpu-2px) solid #ff00c7;

    img {
      word-break: break-word;
    }

    #receiving-abundance, .copyright {
      text-align: center;
      margin-top: var(--bpu-24px);
      font-size: var(--bpu-xxs);
    }
    > p {
      font-size: var(--bpu-sm);
      padding-bottom: var(--bpu-20px);
    }
    #receiving-abundance {
      font-size: calc(
        var(--qin-xxs) * var(--bpu-xs) +
        var(--qgte-xs) * var(--bpu-sm)
      );
      font-weight: calc(
        var(--qin-xxs) * 100 +
        var(--qgte-xs) * 900
      );
    }
    table {
      margin-inline: auto;
      width: calc(
        var(--qlt-sm) * 100% +
        var(--qgte-sm) * 550px
      );
      font-size: var(--bpu-sm);
      img {
        width: 100%;
      }
    }
  }
  @keyframes hide-mid-compat {
    0%, 49.99% {
      visibility: visible;
    }
    50%, 100% {
      visibility: collapse;
      width: 0px;
      font-size: 0px;
      display: none;
    }
  }
  .abundance-table {
    background: #ffffff;
    color: #000000;
    @supports (background: paint(for-chromium)) and (animation-composition: add) {
      @container style(--qlt-sm: 1) {
        th:nth-child(2),
        td:nth-child(2) {
          display: none;
        }
      }
    }
    @supports not ((background: paint(for-chromium)) and (animation-composition: add)) {
      th:nth-child(2),
      td:nth-child(2) {
        animation: hide-mid-compat 2s step-end
                calc(var(--qlt-sm) * -1s) paused;
      }
    }
    td { min-width: 170px; }
  }
  .social-table {
    img { filter: brightness(0) invert(1); }
    td { min-width: var(--bpu-72px); }
  }
  #open-contact {
    margin-top: var(--bpu-16px);
    &, & + p {
      width: 100%;
      max-width: 600px; /* var(--bpu-main-result); */
      margin-inline: auto;
    }
  }

  .scroll-table {
    overflow-y: auto;
    max-width: 100%;
    width: 100%;
    white-space: nowrap;
  }
</style>

<h2 id="open-contact" style="text-align: center;">I invite Open Contact 💚👽</h2>
<p style="text-align: center;">Please do reach out, I love to help and to see what you've created!</p>
<div class="scroll-table">
  <table class="social-table">
    <thead>
      <tr>
        <th style="text-align:center">PropJockey</th>
        <th style="text-align:center">CodePen</th>
        <th style="text-align:center">DEV Blog</th>
        <th style="text-align:center">GitHub</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center">
          <a href="https://propjockey.io"><img src="https://raw.githubusercontent.com/propjockey/propjockey-brand/main/external-social/100px/color-responsive/propjockey-lines.svg" alt="PropJockey.io"></a>
        </td>
        <td style="text-align:center">
          <a href="https://codepen.io/propjockey"><img src="https://raw.githubusercontent.com/propjockey/propjockey-brand/main/external-social/100px/color-responsive/codepen.svg" alt="CodePen"></a>
        </td>
        <td style="text-align:center">
          <a href="https://dev.to/janeori"><img src="https://raw.githubusercontent.com/propjockey/propjockey-brand/main/external-social/100px/color-responsive/dev.svg" alt="DEV Blog"></a>
        </td>
        <td style="text-align:center">
          <a href="https://github.com/propjockey"><img src="https://raw.githubusercontent.com/propjockey/propjockey-brand/main/external-social/100px/color-responsive/github.svg" alt="GitHub"></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="scroll-table">
  <table class="social-table">
    <thead>
      <tr>
        <th style="text-align:center">Mastodon</th>
        <th style="text-align:center">LinkedIn</th>
        <th style="text-align:center">X</th>
        <th style="text-align:center">Bluesky</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center">
          <a href="https://front-end.social/@JaneOri"><img src="https://raw.githubusercontent.com/propjockey/propjockey-brand/main/external-social/100px/color-responsive/mastodon.svg" alt="Mastodon"></a>
        </td>
        <td style="text-align:center">
          <a href="https://www.linkedin.com/in/janeori/"><img src="https://raw.githubusercontent.com/propjockey/propjockey-brand/main/external-social/100px/color-responsive/linkedin.svg" alt="LinkedIn"></a>
        </td>
        <td style="text-align:center">
          <a href="https://x.com/jane0ri"><img src="https://raw.githubusercontent.com/propjockey/propjockey-brand/main/external-social/100px/color-responsive/x.svg" alt="X"></a>
        </td>
        <td style="text-align:center">
          <a href="https://bsky.app/profile/janeori.propjockey.io"><img src="https://raw.githubusercontent.com/propjockey/propjockey-brand/main/external-social/100px/color-responsive/bluesky.svg" alt="Bluesky"></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<h3 id="receiving-abundance">
  My heart is open to receive abundance in all forms,<br>flowing to me in many expected and unexpected ways.
</h3>
<div class="scroll-table">
  <table class="abundance-table">
    <thead>
      <tr>
        <th style="text-align:center">PayPal</th>
        <th style="text-align:center">Ko-fi</th>
        <th style="text-align:center">Venmo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center">
          <a href="https://www.paypal.com/donate/?cmd=_s-xclick&amp;hosted_button_id=9Z925L3SJJ8BS&amp;source=qr&amp;ssrt=1772865628068"><img src="https://raw.githubusercontent.com/propjockey/propjockey-brand/main/QR-Codes/svg/200px/paypal.svg" alt="PayPal"></a>
        </td>
        <td style="text-align:center">
          <a href="https://ko-fi.com/janeori"><img src="https://raw.githubusercontent.com/propjockey/propjockey-brand/main/QR-Codes/svg/200px/ko-fi.svg" alt="Ko-fi"></a>
        </td>
        <td style="text-align:center">
          <a href="https://account.venmo.com/u/JaneOri"><img src="https://raw.githubusercontent.com/propjockey/propjockey-brand/main/QR-Codes/svg/200px/venmo.svg" alt="Venmo"></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="scroll-table">
  <table class="abundance-table">
    <thead>
      <tr>
        <th style="text-align:center">BTC</th>
        <th style="text-align:center">XRP</th>
        <th style="text-align:center">ETH</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center">
          <a href="https://app.ens.domains/janeori.eth"><img src="https://raw.githubusercontent.com/propjockey/propjockey-brand/main/QR-Codes/svg/200px/btc.svg" alt="BTC bc1qe2ss8hvmskcxpmk046msrjpmy9qults2yusgn9"></a>
        </td>
        <td style="text-align:center">
          <a href="https://bithomp.com/en/account/X7zmKiqEhMznSXgj9cirEnD5sWo3iZPqbNPChdEKV9sM9WF"><img src="https://raw.githubusercontent.com/propjockey/propjockey-brand/main/QR-Codes/svg/200px/xrp.svg" alt="XRP rw2ciyaNshpHe7bCHo4bRWq6pqqynnWKQg : 459777128"></a>
        </td>
        <td style="text-align:center">
          <a href="https://app.ens.domains/janeori.eth"><img src="https://raw.githubusercontent.com/propjockey/propjockey-brand/main/QR-Codes/svg/200px/eth.svg" alt="ETH 0x674D4191dEBf9793e743D21a4B8c4cf1cC3beF54"></a>
        </td>
      </tr>
      <tr style="font-size: var(--bpu-xs);">
        <td style="text-align:center">bc1qe...usgn9</td>
        <td style="text-align:center">rw2ci...nWKQg
          <br>: 459777128</td>
        <td style="text-align:center">0x674...beF54</td>
      </tr>
    </tbody>
  </table>
</div>
<p class="copyright">&copy; 2026 Jane Ori, PropJockey. All rights reserved.</p>
